<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
{% load static %}
{% load alternate_hreflang %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}{% endblock %}

  {% get_available_languages as languages %}
  {% for lang_code, lang_name in languages %}
      <link rel="alternate" hreflang="{{ lang_code }}" href="{% change_lang lang_code %}">
  {% endfor %}

  <link rel="icon" href="{% static 'favicon.ico' %}"  type="image/png">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}"  type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'weatherapp/css/flag.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'weatherapp/css/main.css' %}" type="text/css">
  
</head>
{% load i18n %}
<body class="d-flex flex-column bg-light">
  <header class="border-bottom box-shadow p-1 py-md-3">
    <div class="container d-flex flex-column flex-md-row align-items-center p-md-2 ">
      <a class="navbar-brand my-0 mr-md-auto font-weight-bold text-dark" href="{% url 'weatherapp:index' %}"><span class="text-danger">W</span>eather.all</a>
      <nav class="navbar my-0 mr-md-3">
        <a class="p-2" href="{% url 'weatherapp:index' %}">{% trans 'Главная' %}</a>

        {% if user.is_authenticated %}
        <a class="p-2" href="{% url 'admin:index' %}">{% trans 'Админка' %}</a>
        <a class="p-2" href="{% url 'weatherapp:vacuum_db' %}">db compress</a>
        <a class="p-2" href="{% url 'weatherapp:dosm' %}">{% trans 'Скрипт' %}</a> 
        {% endif %} 
        
        <form class="navbar-form form-inline" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
            <select onchange="this.form.submit()" class="custom-select" name="language">
                
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </form>

      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <div class="footer text-muted border-top box-shadow p-3 mb-5 mt-5">
    
    <div class="container">
       
      &copy; Погода.тут 2020 <a class="pl-5" href="{% url 'sitemap' %}">XML Sitemap</a><br/>
      All	weather	and	forecast data is provided	under	terms	of CC BY-SA	4.0	International	license	by <a href="https://openweathermap.org/">Openweather	Ltd</a>. <br/>
      This product includes GeoLite2 data created by MaxMind, available from <a href="https://www.maxmind.com">maxmind.com</a>. <br/>
      
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script src="{% static 'weatherapp/js/bootstrap.js' %} "></script>
  <script>
      $("div.alert").alert();

      setTimeout(function() {
      $('.alert').fadeOut('slow');}, 3000 );
  </script>

</body>
</html> 
      
