<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}<title>Погода.тут Узнай погоду в своем городе</title>{% endblock %}
  {% load static %}
  <link rel="shortcut icon" href="{% static 'weatherapp/icon.png' %}"  type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'weatherapp/css/main.css' %}" type="text/css">
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script src="{% static 'weatherapp/js/bootstrap.js' %} "></script>
  
  <link rel="icon" href="data:;base64,=">

  <script>
      $("div.alert").alert();

      setTimeout(function() {
      $('.alert').fadeOut('slow');}, 3000 );
  </script>
  
</head>
{% load i18n %}
<body class="bg-light">
  <div class="site-header border-bottom box-shadow p-1 py-sm-3">

    <div class="container d-flex flex-column flex-md-row align-items-center p-2 ">
      <a class="navbar-brand my-0 mr-md-auto font-weight-bold" href="{% url 'weatherapp:index' %}">Погода.тут</a>
      <nav class="navbar my-2 my-md-0 mr-md-3">
        <a class="p-2" href="{% url 'weatherapp:index' %}">{% trans 'Главная' %}</a>

        {% if user.is_authenticated %}
        <a class="p-2" href="{% url 'admin:index' %}">{% trans 'Админка' %}</a>
        <a class="p-2" href="{% url 'weatherapp:dosm' %}">{% trans 'Скрипт' %}</a> 
        {% endif %} 
        
        
        <form class="navbar-form form-inline" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
            <select onchange="this.form.submit()" class="custom-select" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </form>

      </nav>
    </div>
  </div>

  

  

  {% block content %}
  {% endblock %}

  
  <div class="footer text-muted border-top box-shadow p-3 mb-5 mt-5">
    
    <div class="container">
      &copy; Погода.тут 2020 <br/>
      All	weather	and	forecast data is provided	under	terms	of CC BY-SA	4.0	International	license	by <a href="https://openweathermap.org/">Openweather	Ltd</a>. <br/>
      This product includes GeoLite2 data created by MaxMind, available from <a href="https://www.maxmind.com">maxmind.com</a>. <br/>
      
    </div>
  </div>
  
  
</body>
</html> 
      
